body{
    background-color: black;
}

//----------------------------Header---------------------------
header{
    width: 100%;
    background-color: black;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    z-index: 100;
}
.header-div{
    height: 60px;
    background-color: black;
    width: 68%;
    display: flex;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    background-color: black; 
    position: relative; 
    z-index: 20;
}
.logo-img{
  width: 252px;
  height: 30px;
}
.logo-mobile{
  display: none;
}
.div-ul{
    margin-right: 150px;
    position: relative;
    animation: appear 1.5s;
}
.container-menu {
  display: none;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
#contact-us{
  width: 90px;
}
@keyframes appear{
   0%{right: 360px;}
   100%{right: 0px;}
}
@keyframes appearMobile{
  0%{top: -360px;}
  100%{top: 0px;}
}
@keyframes disappearMobile{
  0%{top: 0px;}
  100%{top: -350px;}
}
.header-ul{
    list-style: none;
    font-size: larger;
    cursor: pointer;
}
.header-ul-mobile{
  display: none;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 90;
  height: 370px;
}
.header-ul-mobile li{
  font-size: 16px;
  margin-top: 25px;
  list-style: none;
  width: 100px;
}
.link{
    color: white;
}
.link:hover{
    color: #fa4049;
    text-decoration: none;
}
.space{
    height: 120px;
}
.en, .ka{
 width: 80px;
 height: 35px;
 border: none;
}
.en{
color: white;
background-color: #fa4049;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
.ka{
color: #fa4049;
background-color: rgba(255, 255, 255, 0.938);
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
.ka:hover{
    color: white;
    background-color: #fa4049;
}
.social{
  display: flex;
  justify-content: space-between;
  width: 80px;
}
.social-and-language{
    margin-top: -45px;
}
.languages{
    margin-top: 25px;
}
.language{
    margin-left: 5px;
}
//-------------------------------------------------------------
.main{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-title{
  line-height: 1.35em;
  font-weight: bold;
  color: #fa4049;
  font-size: 40px;
  cursor: pointer;
}
.main-subtitle{
  text-align: center;
  width: 670px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

//----------------------Slide---------------------------------

* {box-sizing:border-box}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 1px 1px 0;
  user-select: none;
}
.prev{
  margin-left: 75px;
}
.next{
  margin-right: 75px;
}
.next {
  right: 0;
  border-radius: 1px 0 0 1px;
}
.prev:hover, .next:hover {
  color: skyblue;
  text-decoration: none;
}
.text {
  color: #f2f2f2;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  position: absolute;
  width: 100%;
  text-align: center;
}
.slide-img{
  height: 410px;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: black;
}
.animation{
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {margin-left: -1000px;} 
  to {margin-left: 0px;}
}
//-------------------------------------------------------------

.main{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.our-services{
  font-size: 30px;
}
.main-container{
  display: flex;
  justify-content: center;
  // margin-left: 15%;
}
.first_section{
  display: flex;
  flex-direction: row;
  width: 940px;
}
.first_section_left_side_img{
  width: 150px;
  height: 198px;
  color: black;
  background-color: none;
}
.first_section_right_side_titles{
  margin: 5%;
}
.first_section_right_side_titles h3{
  color: #fa4049;
  line-height: 1.41em;
  text-align: left;
  font-size: 22px;

}
.first_section_right_side_titles p{
  color: white;
  line-height:1.875em;
  text-align:left;
  font-size:15px;
}


.contact-section{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.contact-section-info{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-section-info h3{
  color: #fa4049;
  font-size: 45px;
}
.contact-section-info p{
  color: #f2f2f2;
  margin-top: 20px;
}
.fill-form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fill-form input{
  background-color: rgb(36,36,36);
  width: 450px;
  margin-top: 15px;
  height: 50px;
  border: solid rgb(36,36,36) 0.2px;
  padding: 10px;
  color: #f2f2f2;
}
.fill-form input::placeholder{
   color: white;
  }
.contact_section_right_side_input input:hover{
    background-color: black;
    border: solid rgb(36,36,36) 0.2px;
  }
.contact_section_right_side_input_text{
    height: 180px !important;
  }
.contact_section_right_side_input_button{
    height: 50px;
    margin-top: 2%;
    background-color: rgb(46, 46, 46) !important;
    border: rgb(44,44,44);
    color: white;
    width: 150px !important;
    font-weight: bold;
  }




  //---------------Media for all page--------------------------------------------

  
  @media only screen and (max-width: 1555px)
  {
    .social-and-language,.logo,.header-ul{
      margin-left: -50px;
    }
    .industries_main_section_all{
      margin-left: -150px;
    }
  }
  @media only screen and (max-width: 1355px)
  {
    .header-ul li{
      font-size: large;
    }
    .social-and-language,.logo,.header-ul{
      margin-left: -50px;
    }
    @keyframes appear{
      0%{right: 250px;}
      100%{right: 0px;}
   }
     
   }
  @media only screen and (max-width: 1200px)
  {
    .social-and-language{
      margin-left: -50px;
    }
    .logo{
      margin-left: -150px;
    }
  }
  @media only screen and (max-width: 1120px)
  {
    .header-ul li{
      font-size: medium;
    }
    .social-and-language,.header-ul{
      margin-left: -75px;
    }
    .logo{
      margin-left: -140px;
    }
    #contact-us{
      width: 75px;
    }
  }
  @media only screen and (max-width: 995px)
  {
    .social-and-language{
      margin-left: -100px;
    }
    .en, .ka{
      width: 64px;
      height: 28px;
      font-size: 12.5px;
    }
    .flag{
      width: 25px;
      height: 25px;
    }
    .first_section{
      width: 752px;
    }
    .RD-text{
      height: 150px;
    }
  }
  @media only screen and (max-width: 920px)
  {
    .logo{
      margin-left: -50px;
    }
    .div-ul{
      display: none;
    }
    .social-and-language
    {
      display: none;
    }
    .container-menu {
      display: inline-block;
      cursor: pointer;
    }
    .main-subtitle{
      width: 550px;
    }
    .text{
      font-size: 28.5px;
    }
    .slide-img{
      height: 310px;
    }
    .header-ul-mobile li{
      margin-left: 50px;
    }
  }
  @media only screen and (max-width: 780px)
  {
    .first_section{
      width: 450px;
    }
    .contact-section{
      display: block;
    }
    .main-title{
      font-size: 28px;
    }
    .main-subtitle{
      width: 350px;
      font-size: 11.5;
    }
  }
  @media only screen and (max-width: 460px)
  {
    .first_section_right_side_titles h3{
      font-size: 18px;
    }
    .first_section_right_side_titles p{
      font-size:11.5px;
    }
    .first_section{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .fill-form input{
      width: 300px;
    }
    .our-services{
      font-size: 25px;
    }
    .space{
      height: 100px;
    }
  }
  @media only screen and (max-width: 435px)
  {
   body{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
   }
   .space{
     height: 0px;
   }
   .first_section_right_side_titles p{
    width: 300px;
  }
  .logo{
    display: none;
  }
  .logo-mobile{
    display: block;
    margin-top: 50px;
    background-color: black;
  }
  .slide-img{
    height: 210px;
  }
  .main-title{
    font-size: 23px;
  }
  .main-subtitle{
    width: 300px;
    font-size: 11.5;
  }
  .first_section{
    width: 300px;
    margin-left: -30px;
  }
  .text{
    font-size: 20px;
  }
  header{
    position: relative;
  }
  .header-ul-mobile{
    position: relative;
    margin-left: 50px;
  }
  .header-ul-mobile li{
    margin-left: 0px;
  }
  
  }
  @media only screen and (max-width: 285px)
  {
   .first_section_right_side_titles p{
    width: 250px;
  }
  .slide-img{
    height: 210px;
  }
  .main-title{
    font-size: 20px;
  }
  .main-subtitle{
    width: 300px;
    font-size: 10px;
  }
  .first_section{
    width: 250px;
    margin-left: -30px;
  }
  .text{
    font-size: 15px;
  }
  .fill-form input{
    width: 250px;
  }
  .main-subtitle{
    width: 250px;
    font-size: 10px;
  }
  }
  





